name: Docker Image CI

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Docker Login
  # You may pin to the exact commit or the version.
  # uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef
  uses: docker/login-action@v3.6.0
  with:
    # Server address of Docker registry. If not set then will default to Docker Hub
    registry: # optional
    # Username used to log against the Docker registry
    username: saivamsiyadav6
    # Password or personal access token used to log against the Docker registry
    password Divya2511@
    # Specifies whether the given registry is ECR (auto, true or false)
    ecr: false
    # Log out from the Docker registry at the end of a job
    logout: true
    # Raw authentication to registries, defined as YAML objects
    registry-auth: # optional
          
    - name: Build the Docker image
      run: docker build . --file Dockerfile --tag saivamsiyadav6/actions-demo:1.0

    - name: Push the Docker image
      run: dockerpush saivamsiyadav6/actions-demo:1.0
