name: Docker Image CI

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Docker Login
        uses: docker/login-action@v3
        with:
          username: saivamsiyadav6
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build Docker Image
        run: docker build frontend/ -f frontend/Dockerfile -t saivamsiyadav6/actions-demo:1.0

      - name: Push Docker Image
        run: docker push saivamsiyadav6/actions-demo:1.0
