name: Docker Image CI

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Docker Login
        uses: docker/login-action@v3.6.0
        with:
          username: saivamsiyadav6
          password: ${{ secrets.DOCKER_PASSWORD }}
          logout: true

      - name: Build the Docker image
        run: docker build . --file Dockerfile --tag saivamsiyadav6/actions-demo:1.0

      - name: Push the Docker image
        run: docker push saivamsiyadav6/actions-demo:1.0
